DB_HOST=localhost
DB_PORT=5432
DB_NAME=tropelcare
DB_USERNAME=tropeluser
DB_PASSWORD=tropelpass

GITHUB_TOKEN=<personal_access_token_con_permisos_de_models>
GITHUB_MODELS_URL=https://models.inference.ai.azure.com
MODEL_ID=gpt-4o-mini

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=<email_del_equipo@gmail.com>
MAIL_PASSWORD=<app_password_de_16_caracteres>

ADMIN_NAME=Cameron Walker
ADMIN_EMAIL=cameron@tuckersoft.com
ADMIN_NOTIFICATION_EMAIL=<email_real_del_equipo@gmail.com>
